<mat-card style="color: black;left: 15%;position: absolute; bottom: 1em;width:70%;height: 3em;color: white;background-color: rgba(255,255,255,.3);background-image: url('../../../assets/images/backgrounds/M81_U.S._woodland_camouflage_pattern_swatch.png');">
  <span style="float:right;margin-top: .2em;margin-left: 2em;color:black;">Soon featuring TizzyCoin<img style="float: right;width:25px;height:25px;margin: 0 auto;" src="../../assets/images/blockchain-icon.png" alt=""></span>
  <app-social-icons></app-social-icons>
</mat-card>
